body
{
	background: url("Fond_Page_2.png") scroll top no-repeat;
	background-size: 1200px;
	background-color : #142b5d;
}

/* head */

.bloc_entete
{
	position: fixed;
	right: 0;
	left:0;
	top: 10px;

	display: flex;
	
	justify-content: space-around;

	max-width: 1200px;
	margin: auto;

	background-color : #142b5d;
}

.logo_entete
{
	border:none;
	border-radius:10px;
	max-width: 200px;
	margin-left: 10px;
}

.logo_entete img
{
  max-width: 100%;
  object-fit: contain;
  margin: auto;
}

.logo_entete img:hover
{
	box-shadow: 6px 6px 3px black
}

.bloc_entete a
{
	color: #142b5d;
	text-decoration: none;
}

.lien_page_1, .lien_page_2, .lien_page_3
{
	height: 30px;
	width: 120px;

	margin:  auto;
	padding-top: 10px;

	border: none;
	border-radius: 10px;

	text-align: center;

	color: #142b5d;
	background-color : white;
}

.lien_page_1:hover, .lien_page_2:hover, .lien_page_3:hover
{
	box-shadow: 6px 6px 3px black
}

	/* section 1 */

.première_section
{
	display:flex;
	margin-top: 150px;
}

.bloc_de_présentation
{
	max-width: 1200px;
	margin: auto;
}

.bloc_de_présentation img
{
  max-width: 100%;
  object-fit: contain;
}

	/* section 2 */

.deuxième_section
{
	display:flex;
	justify-content: space-around;
}

.grand_bloc
{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 1200px;
	margin-top: 150px;
	margin: auto;
}

.text
{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.grand_bloc h1
{
	font-size: 150%;
	color: #bbbbbb;
	text-decoration: underline;
}

.grand_bloc h2
{
	font-size: 130%;
	color: #bbbbbb;
	margin: 20px;
}

.grand_bloc p
{
	font-size: 110%;
	color: #bbbbbb;
	margin-right: 50px;
	margin-left: 20px;
}

.présentation_rapide
{
	max-width: 1160px;	/* 100% */
	min-height:  200px;

	background-color : #142b5de0;

	padding: 20px;
	margin: 30px;

	overflow: auto;

	border-radius: 10px;
	box-shadow: 6px 6px 3px black
}

.patchwork_img
{
	display:flex;
	flex-wrap: wrap;
	align-items: center;

	margin-top: 190px;
	max-width: 1160px;
	min-height:  600px;

	background-color : #142b5de0;

	padding: 10px;
	margin: 30px;

	overflow: auto;
	border-radius: 10px;
	box-shadow: 6px 6px 3px black

}

.patchwork_img a
{
	max-width: 340px;	
	min-height:  200px;
}

.image
{
	max-width: 340px;	
	min-height:  200px;
	margin: 10px;

	overflow: hidden;

	border-radius: 10px;
}

.image:hover 
{
	box-shadow: 6px 6px 3px black
}




	/* footer */

.footer
{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin: 10px;
}

.suite
{
	padding: 10px;
	margin: auto;

	color: #bbbbbb;
	background-color : #142b5de0;

	max-width: 100px;
	min-height:  15px;

	text-align: center; 

	border-radius:10px;
}

.suite:hover
{
	box-shadow: 6px 6px 3px black
}

.suite a
{
	color: #bbbbbb;
	text-decoration: none;
}

.retour
{
	padding: 10px;
	margin: auto;
	margin-top: 10px;

	color: #bbbbbb;
	background-color : #142b5de0;

	max-width: 1180px;	/* 100% */
	min-height:  15px;

	text-align: center; 

	border-radius:10px;
}

.retour:hover
{
	box-shadow: 6px 6px 3px black
}

.retour a
{
	color: #bbbbbb;
	text-decoration: none;
}

.plan_du_site_et_contact
{
	padding: 10px;
	margin: auto;
	margin-top: 10px;

	color: #bbbbbb;
	background-color : #142b5de0;

	max-width: 1150px;	/* 100% */
	min-height:  250px;

	border-radius:10px;

	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.plan_du_site_et_contact a
{
	color: #bbbbbb;
	text-decoration: none;
}

.titre_footer
{
	width: 100%;
	height: 30px;
}

.page_d_accueil, .page1, .page2, .page3, .contact, .logo_iut
{
	max-width: 250px;	
	max-height:  100px;

	color: #bbbbbb;

	padding: 10px;
	margin: 5px;
}

.logo_iut
{
	width: 50px;
	height: 50px;
}

.logo_iut img
{
  max-width: 100%;
  object-fit: contain;
  margin: auto;
}

em 
{
	font-size: 1.2em;
	text-decoration: underline;
	font-style: normal;	
}
